@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafaf9;
  --foreground: #171717;
  --primary: #865d36;
  --secondary: #937858;
  --main: #3e362e;
  --text: #ac8968;
  --accent: #93785b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background: #2c2c2c;
    --primary: #d4a373;
    --secondary: #b08968;
    --main: #ede0d4;
    --text: #f5f5f5;
    --accent: #a68a64;
  }
}

/* Optional body style if needed */
/*
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
*/

/* Custom option hover style for the role select dropdown */
select.role-select option:hover {
  background-color: var(--text);
  color: white;
}
